<h1>Want to get in touch?</h1>
<p>I'm not currently looking for work, investment or business proposals. However, if you would like to get in contact, please find me on one of the various social media sites or email <a href="mailto:hello@mrjatkin.co.uk">hello@mrjatkin.co.uk</a></p>

<p>I'm mrjatkin on various sites, including:</p>
<ul>
	<li><a href="http://twitter.com/mrjatkin">Twitter</a></li>
	<li><a href="http://uk.linkedin.com/in/mrjatkin/">LinkedIn</a></li>
	<li><a href="http://github.com/mrjatkin">GitHub</a></li>
</ul>