@import "_base.scss";

//@include border-box-sizing;

$background: #fbfbfb;
$foreground: #626161;
$pad: 1em;
$mar: $pad;
$break: 12;

body {
	//@include container;
	//@include border-box-sizing;
	font: normal 13px/1.4 'Open Sans', sans-serif;
	background: $background;
	color: $foreground;
	padding: $pad;
}

a {
	color: #6c00e5;
	
	&:active,
	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

body>header,
.content,
body>footer {
	clear: both;
	max-width: 60em;
	width: 100%;
	margin: 0 auto;
}

body>header {
	background: #fff;
	color: #000;
	padding: $pad;
	margin-bottom: $mar;
	
	@include clearfix;
	@include single-box-shadow(rgba(0, 0, 0, 0.3), 0.2em, 0.2em, 0.5em);
	
	.myname {
		clear: both;
		font-size: 2em;
		font-weight: bold;
		margin-bottom: 0.5em;
	}
	.dp {
		clear: both;
		
		/*@include at-breakpoint($break) {
			clear: none;
			@include span-columns(2, $break);
		}*/
	}
	.tagline {
		font-size: 1.5em;
		
		
		
		//clear: both;
		
		/*@include at-breakpoint($break) {
			clear: none;
			@include span-columns(10 omega, $break);
		}*/
	}
}

.content {
	margin-bottom: $mar;
}

body>footer {
	.legals,
	nav {
		clear: both;
		float: left;
	}
	nav {
		margin-bottom: $mar;
		
		li {
			display: inline;
		}
	}
}

@media screen and (min-width: 32em) {
	body>header {
		.dp {
			clear: left;
			float: left;
			margin: 0 $mar $mar 0;
		}
	}
	body>footer {
		.legals,
		nav {
			clear: none;
		}
		nav {
			margin-bottom: 0;
		}
		.legals {
			float: right;
			text-alight: right;
		}
	}
}